In [75]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,ElasticNet
from sklearn import preprocessing
import pandas as pd
import numpy as np
import seaborn as sns
from sqlalchemy import create_engine
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.manifold import TSNE
from scipy.spatial.distance import cdist
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import train_test_split, cross_val_predict, RepeatedStratifiedKFold, GridSearchCV
from sklearn.metrics import accuracy_score,f1_score, classification_report, make_scorer, confusion_matrix,roc_auc_score,precision_score, recall_score
from sklearn.cluster import KMeans, AgglomerativeClustering
from sqlalchemy import create_engine
import matplotlib
import warnings
from sklearn.mixture import GaussianMixture
from sklearn.ensemble import RandomForestClassifier,VotingClassifier,StackingClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from optbinning import OptimalBinning
import re
from IPython.display import display, Markdown
from statsmodels.stats.outliers_influence import variance_inflation_factor
import xgboost as xgb

In [119]:
engine = create_engine('postgresql+psycopg2://vuongdm:vuongdm@192.168.1.123:5432/cbquant')
query = '''
select
	bsd.*,
	asi.dti,
	asi.ltv,
	asi.duration,
	asi.is_bad,
	asi.is_bad90
from src.b_score_data bsd 
left join src.a_score_data asi 
on bsd.aano = asi.aano
where mob > 6
'''
df = pd.read_sql(query, con = engine)

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198985 entries, 0 to 198984
Data columns (total 54 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   mob                  198985 non-null  int64
 1   txdate               198985 non-null  object
 2   custid               198985 non-null  object
 3   acctno               198985 non-null  object
 4   aano                 198985 non-null  object
 5   actype               198985 non-null  object
 6   product_loan_name    198976 non-null  object
 7   current_dpd          198985 non-null  int64
 8   fl_depo_opened       198985 non-null  object
 9   fl_depo_closed       198985 non-null  object
 10  no_depo_current      198985 non-null  float64
 11  max_term_depo_12m    10667 non-null   float64
 12  max_term_depo_9m     10165 non-null   float64
 13  max_term_depo_6m     9634 non-null    float64
 14  max_term_depo_3m     7441 non-null    float64
 15  max_amtdepo_m_12m    10667 non-null   float64
 16  max_amtdepo_m_9m     10165 non-null   float64
 17  max_amtdepo_m_6m     9634 non-null    float64
 18  max_amtdepo_m_3m     7441 non-null    float64
 19  fl_depo_roll         10752 non-null   float64
 20  max_time_close_depo  10752 non-null   float64
 21  max_dpd              198985 non-null  float64
 22  pastdue_amt          155607 non-null  float64
 23  max_dpd_12m          198985 non-null  float64
 24  max_dpd_9m           176066 non-null  float64
 25  max_dpd_6m           198851 non-null  float64
 26  max_dpd_3m           198934 non-null  float64
 27  outstanding_amt      198985 non-null  float64
 28  sum_amtdepo_ever     10752 non-null   float64
 29  sum_amtdepo_current  10752 non-null   float64
 30  avg_depo_current     10752 non-null   float64
 31  total_loan_amt       198985 non-null  float64
 32  rat_payment          198985 non-null  float64
 33  sum_payamt_12m       195467 non-null  float64
 34  sum_payamt_9m        162062 non-null  float64
 35  sum_payamt_6m        192682 non-null  float64
 36  sum_payamt_3m        194878 non-null  float64
 37  count_pay_12m        198985 non-null  float64
 38  count_pay_9m         198985 non-null  float64
 39  count_pay_6m         198985 non-null  float64
 40  count_pay_3m         198985 non-null  float64
 41  no_loan_active       198985 non-null  float64
 42  no_type_loan         198985 non-null  float64
 43  no_loan_closed       198985 non-null  float64
 44  sum_loan_amount      198138 non-null  float64
 45  rat_outstanding      198138 non-null  float64
 46  fl_card_debit        198985 non-null  object
 47  rat_unpaid_deposit   10752 non-null   float64
 48  fl_cbway             198985 non-null  int64
 49  dti                  197161 non-null  float64
 50  ltv                  198985 non-null  float64
 51  duration             198985 non-null  float64
 52  is_bad               198985 non-null  bool
 53  is_bad90             198985 non-null  bool
dtypes: bool(2), float64(40), int64(3), object(9)
memory usage: 79.3+ MB

In [121]:
df.describe()

,mob,current_dpd,no_depo_current,max_term_depo_12m,max_term_depo_9m,max_term_depo_6m,max_term_depo_3m,max_amtdepo_m_12m,max_amtdepo_m_9m,max_amtdepo_m_6m,...,no_loan_active,no_type_loan,no_loan_closed,sum_loan_amount,rat_outstanding,rat_unpaid_deposit,fl_cbway,dti,ltv,duration
count,198985.000000,198985.000000,198985.000000,10667.000000,10165.000000,9634.000000,7441.000000,1.066700e+04,1.016500e+04,9.634000e+03,...,198985.000000,198985.000000,198985.000000,1.981380e+05,198138.000000,10752.000000,198985.000000,197161.000000,198985.000000,198985.000000
mean,22.187245,12.073865,0.178561,7.599159,7.101253,6.493692,5.385867,2.865053e+08,2.857905e+08,2.828356e+08,...,1.324803,1.277875,1.564143,1.790195e+09,0.399389,253.749121,0.074166,104.190977,0.462844,143.592165
std,13.517701,95.991525,1.769056,4.563328,4.389170,4.091540,4.083286,5.167682e+08,4.998938e+08,4.762364e+08,...,0.692415,0.618795,6.570702,3.071163e+09,0.505519,4763.338026,0.262042,4864.043157,0.195071,58.908840
min,7.000000,0.000000,0.000000,0.233333,0.233333,0.233333,0.233333,5.000000e+03,1.000000e+03,1.000000e+03,...,1.000000,0.000000,0.000000,2.000000e+07,-39.000000,0.000000,0.000000,0.000430,0.014468,11.000000
25%,12.000000,0.000000,0.000000,6.000000,6.000000,6.000000,1.000000,4.277000e+07,4.667868e+07,5.000000e+07,...,1.000000,1.000000,0.000000,4.000000e+08,0.133333,0.784837,0.000000,0.266730,0.313165,84.000000
50%,19.000000,0.000000,0.000000,6.000000,6.000000,6.000000,6.000000,1.250000e+08,1.300000e+08,1.300000e+08,...,1.000000,1.000000,1.000000,8.000000e+08,0.375016,2.018991,0.000000,0.379412,0.490395,168.000000
75%,29.000000,0.000000,0.000000,12.000000,12.000000,7.000000,6.000000,3.123123e+08,3.132362e+08,3.132362e+08,...,1.000000,1.000000,1.000000,2.000000e+09,0.661290,6.511461,0.000000,0.505300,0.625000,180.000000
max,84.000000,2205.000000,103.000000,36.000000,36.000000,36.000000,36.000000,8.635833e+09,8.635833e+09,8.635833e+09,...,13.000000,9.000000,203.000000,9.493466e+10,1.000000,212053.580000,1.000000,350414.712296,1.000000,300.000000

In [122]:
df.columns

Index(['mob', 'txdate', 'custid', 'acctno', 'aano', 'actype',
       'product_loan_name', 'current_dpd', 'fl_depo_opened', 'fl_depo_closed',
       'no_depo_current', 'max_term_depo_12m', 'max_term_depo_9m',
       'max_term_depo_6m', 'max_term_depo_3m', 'max_amtdepo_m_12m',
       'max_amtdepo_m_9m', 'max_amtdepo_m_6m', 'max_amtdepo_m_3m',
       'fl_depo_roll', 'max_time_close_depo', 'max_dpd', 'pastdue_amt',
       'max_dpd_12m', 'max_dpd_9m', 'max_dpd_6m', 'max_dpd_3m',
       'outstanding_amt', 'sum_amtdepo_ever', 'sum_amtdepo_current',
       'avg_depo_current', 'total_loan_amt', 'rat_payment', 'sum_payamt_12m',
       'sum_payamt_9m', 'sum_payamt_6m', 'sum_payamt_3m', 'count_pay_12m',
       'count_pay_9m', 'count_pay_6m', 'count_pay_3m', 'no_loan_active',
       'no_type_loan', 'no_loan_closed', 'sum_loan_amount', 'rat_outstanding',
       'fl_card_debit', 'rat_unpaid_deposit', 'fl_cbway', 'dti', 'ltv',
       'duration', 'is_bad', 'is_bad90'],
      dtype='object')

In [123]:
df.max_term_depo_12m.fillna(0, inplace=True)
df.max_term_depo_9m.fillna(0, inplace=True)
df.max_term_depo_6m.fillna(0, inplace=True)
df.max_term_depo_3m.fillna(0, inplace=True)
df.max_amtdepo_m_3m.fillna(0, inplace=True)
df.max_amtdepo_m_6m.fillna(0, inplace=True)
df.max_amtdepo_m_9m.fillna(0, inplace=True)
df.max_amtdepo_m_12m.fillna(0, inplace=True)
df.max_dpd_3m.fillna(0,inplace=True)
df.max_dpd_6m.fillna(0,inplace=True)
df.max_dpd_9m.fillna(0,inplace=True)
df.max_dpd_12m.fillna(0,inplace=True)
df.fl_depo_roll.fillna(0, inplace=True)
df.rat_unpaid_deposit.fillna(0, inplace=True)
df.dti.fillna(0, inplace=True)

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198985 entries, 0 to 198984
Data columns (total 54 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   mob                  198985 non-null  int64
 1   txdate               198985 non-null  object
 2   custid               198985 non-null  object
 3   acctno               198985 non-null  object
 4   aano                 198985 non-null  object
 5   actype               198985 non-null  object
 6   product_loan_name    198976 non-null  object
 7   current_dpd          198985 non-null  int64
 8   fl_depo_opened       198985 non-null  object
 9   fl_depo_closed       198985 non-null  object
 10  no_depo_current      198985 non-null  float64
 11  max_term_depo_12m    198985 non-null  float64
 12  max_term_depo_9m     198985 non-null  float64
 13  max_term_depo_6m     198985 non-null  float64
 14  max_term_depo_3m     198985 non-null  float64
 15  max_amtdepo_m_12m    198985 non-null  float64
 16  max_amtdepo_m_9m     198985 non-null  float64
 17  max_amtdepo_m_6m     198985 non-null  float64
 18  max_amtdepo_m_3m     198985 non-null  float64
 19  fl_depo_roll         198985 non-null  float64
 20  max_time_close_depo  10752 non-null   float64
 21  max_dpd              198985 non-null  float64
 22  pastdue_amt          155607 non-null  float64
 23  max_dpd_12m          198985 non-null  float64
 24  max_dpd_9m           198985 non-null  float64
 25  max_dpd_6m           198985 non-null  float64
 26  max_dpd_3m           198985 non-null  float64
 27  outstanding_amt      198985 non-null  float64
 28  sum_amtdepo_ever     10752 non-null   float64
 29  sum_amtdepo_current  10752 non-null   float64
 30  avg_depo_current     10752 non-null   float64
 31  total_loan_amt       198985 non-null  float64
 32  rat_payment          198985 non-null  float64
 33  sum_payamt_12m       195467 non-null  float64
 34  sum_payamt_9m        162062 non-null  float64
 35  sum_payamt_6m        192682 non-null  float64
 36  sum_payamt_3m        194878 non-null  float64
 37  count_pay_12m        198985 non-null  float64
 38  count_pay_9m         198985 non-null  float64
 39  count_pay_6m         198985 non-null  float64
 40  count_pay_3m         198985 non-null  float64
 41  no_loan_active       198985 non-null  float64
 42  no_type_loan         198985 non-null  float64
 43  no_loan_closed       198985 non-null  float64
 44  sum_loan_amount      198138 non-null  float64
 45  rat_outstanding      198138 non-null  float64
 46  fl_card_debit        198985 non-null  object
 47  rat_unpaid_deposit   198985 non-null  float64
 48  fl_cbway             198985 non-null  int64
 49  dti                  198985 non-null  float64
 50  ltv                  198985 non-null  float64
 51  duration             198985 non-null  float64
 52  is_bad               198985 non-null  bool
 53  is_bad90             198985 non-null  bool
dtypes: bool(2), float64(40), int64(3), object(9)
memory usage: 79.3+ MB

In [125]:
df.columns

Index(['mob', 'txdate', 'custid', 'acctno', 'aano', 'actype',
       'product_loan_name', 'current_dpd', 'fl_depo_opened', 'fl_depo_closed',
       'no_depo_current', 'max_term_depo_12m', 'max_term_depo_9m',
       'max_term_depo_6m', 'max_term_depo_3m', 'max_amtdepo_m_12m',
       'max_amtdepo_m_9m', 'max_amtdepo_m_6m', 'max_amtdepo_m_3m',
       'fl_depo_roll', 'max_time_close_depo', 'max_dpd', 'pastdue_amt',
       'max_dpd_12m', 'max_dpd_9m', 'max_dpd_6m', 'max_dpd_3m',
       'outstanding_amt', 'sum_amtdepo_ever', 'sum_amtdepo_current',
       'avg_depo_current', 'total_loan_amt', 'rat_payment', 'sum_payamt_12m',
       'sum_payamt_9m', 'sum_payamt_6m', 'sum_payamt_3m', 'count_pay_12m',
       'count_pay_9m', 'count_pay_6m', 'count_pay_3m', 'no_loan_active',
       'no_type_loan', 'no_loan_closed', 'sum_loan_amount', 'rat_outstanding',
       'fl_card_debit', 'rat_unpaid_deposit', 'fl_cbway', 'dti', 'ltv',
       'duration', 'is_bad', 'is_bad90'],
      dtype='object')

In [111]:
cols = ['mob','max_term_depo_12m', 'max_term_depo_9m','max_term_depo_6m', 'max_term_depo_3m',
       'max_dpd_12m', 'max_dpd_9m', 'max_dpd_6m', 'max_dpd_3m',
        'count_pay_12m','count_pay_9m','count_pay_6m','count_pay_6m',
        'no_loan_active',
       'fl_cbway','fl_card_debit','dti','ltv','duration','is_bad']

In [112]:
df[cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198985 entries, 0 to 198984
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   mob                198985 non-null  int64
 1   max_term_depo_12m  198985 non-null  float64
 2   max_term_depo_9m   198985 non-null  float64
 3   max_term_depo_6m   198985 non-null  float64
 4   max_term_depo_3m   198985 non-null  float64
 5   max_dpd_12m        198985 non-null  float64
 6   max_dpd_9m         198985 non-null  float64
 7   max_dpd_6m         198985 non-null  float64
 8   max_dpd_3m         198985 non-null  float64
 9   count_pay_12m      198985 non-null  float64
 10  count_pay_9m       198985 non-null  float64
 11  count_pay_6m       198985 non-null  float64
 12  count_pay_6m       198985 non-null  float64
 13  no_loan_active     198985 non-null  float64
 14  fl_cbway           198985 non-null  int64
 15  fl_card_debit      198985 non-null  float64
 16  dti                198985 non-null  float64
 17  ltv                198840 non-null  float64
 18  duration           198985 non-null  float64
 19  is_bad             198985 non-null  bool
dtypes: bool(1), float64(17), int64(2)
memory usage: 29.0 MB

In [108]:
df.fl_card_debit = df.fl_card_debit.map({'0':0.0,'1':1.0})

In [109]:
for f in cols:
    print(f)
    optb = OptimalBinning(name=f, dtype="numerical", solver="cp" )#
    optb.fit(df[f], df.is_bad)
    display(optb.binning_table.build())

mob

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 7.50)",10920,0.054879,9570,1350,0.123626,0.350314,5.976213e-03,7.432302e-04
1,"[7.50, 9.50)",19965,0.100334,17405,2560,0.128224,0.308536,8.599217e-03,1.070659e-03
2,"[9.50, 12.50)",26330,0.132322,22644,3686,0.139992,0.207139,5.293249e-03,6.604758e-04
3,"[12.50, 14.50)",15142,0.076096,12852,2290,0.151235,0.116733,9.970316e-04,1.245582e-04
4,"[14.50, 17.50)",19893,0.099972,16721,3172,0.159453,0.054089,2.872341e-04,3.589988e-05
5,"[17.50, 19.50)",11801,0.059306,9832,1969,0.166850,-0.000098,5.652557e-10,7.065697e-11
6,"[19.50, 21.50)",10921,0.054884,9078,1843,0.168757,-0.013755,1.043157e-05,1.303935e-06
7,"[21.50, 24.50)",15162,0.076197,12575,2587,0.170624,-0.027002,5.605812e-05,7.007052e-06
8,"[24.50, 28.50)",16990,0.085383,13940,3050,0.179517,-0.088593,6.900725e-04,8.623086e-05
9,"[28.50, 31.50)",10455,0.052542,8505,1950,0.186514,-0.135389,1.006987e-03,1.257773e-04
10,"[31.50, 37.50)",15285,0.076815,12404,2881,0.188485,-0.148333,1.774569e-03,2.216180e-04
11,"[37.50, 48.50)",15334,0.077061,12270,3064,0.199817,-0.220778,4.036728e-03,5.035687e-04
12,"[48.50, inf)",10787,0.054210,7991,2796,0.259201,-0.558088,2.010319e-02,2.480787e-03
13,Special,0,0.000000,0,0,0.000000,0.0,0.000000e+00,0.000000e+00
14,Missing,0,0.000000,0,0,0.000000,0.0,0.000000e+00,0.000000e+00
Totals,,198985,1.000000,165787,33198,0.166837,,4.883099e-02,6.061116e-03

max_term_depo_12m

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 0.12)",188318,0.946393,155711,32607,0.173149,-0.044739,0.001923,0.000240
1,"[0.12, inf)",10667,0.053607,10076,591,0.055405,1.227881,0.052768,0.006211
2,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
3,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,0.054690,0.006451

max_term_depo_9m

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 0.12)",188820,0.948916,156199,32621,0.172762,-0.04204,0.001701,0.000213
1,"[0.12, inf)",10165,0.051084,9588,577,0.056763,1.202211,0.048633,0.005738
2,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
3,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,0.050333,0.005950

max_term_depo_6m

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, inf)",198985,1.0,165787,33198,0.166837,0.0,0.0,0.0
1,Special,0,0.0,0,0,0.000000,0.0,0.0,0.0
2,Missing,0,0.0,0,0,0.000000,0.0,0.0,0.0
Totals,,198985,1.0,165787,33198,0.166837,,0.0,0.0

max_term_depo_3m

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, inf)",198985,1.0,165787,33198,0.166837,0.0,0.0,0.0
1,Special,0,0.0,0,0,0.000000,0.0,0.0,0.0
2,Missing,0,0.0,0,0,0.000000,0.0,0.0,0.0
Totals,,198985,1.0,165787,33198,0.166837,,0.0,0.0

max_dpd_12m

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 0.50)",60350,0.303289,57900,2450,0.040597,1.554415,0.428154,0.048708
1,"[0.50, 1.50)",23699,0.119099,22431,1268,0.053504,1.264789,0.122817,0.014404
2,"[1.50, 2.50)",14944,0.075101,13801,1143,0.076486,0.88287,0.043098,0.005219
3,"[2.50, 4.50)",23753,0.119371,21802,1951,0.082137,0.805445,0.058586,0.007132
4,"[4.50, 6.50)",19083,0.095902,16741,2342,0.122727,0.358641,0.010914,0.001357
5,"[6.50, 8.50)",19380,0.097394,16461,2919,0.150619,0.121539,0.001381,0.000173
6,"[8.50, 9.50)",10214,0.051331,8128,2086,0.204229,-0.248148,0.003427,0.000427
7,"[9.50, inf)",27562,0.138513,8523,19039,0.690770,-2.411935,1.259245,0.127755
8,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
9,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,1.927622,0.205174

max_dpd_9m

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 0.50)",119930,0.602709,108549,11381,0.094897,0.647042,0.201831,2.479773e-02
1,"[0.50, 1.50)",18127,0.091097,15907,2220,0.122469,0.361038,0.010498,1.305153e-03
2,"[1.50, 2.50)",10577,0.053155,8851,1726,0.163184,0.02651,0.000037,4.628109e-06
3,"[2.50, 4.50)",14706,0.073905,12265,2441,0.165987,0.006128,0.000003,3.461702e-07
4,"[4.50, 6.50)",11452,0.057552,8899,2553,0.222930,-0.359544,0.008350,1.038212e-03
5,"[6.50, 9.50)",13411,0.067397,9179,4232,0.315562,-0.833971,0.060139,7.306798e-03
6,"[9.50, inf)",10782,0.054185,2137,8645,0.801799,-3.005792,0.743985,6.874328e-02
7,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000e+00
8,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000e+00
Totals,,198985,1.000000,165787,33198,0.166837,,1.024843,1.031961e-01

max_dpd_6m

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 0.50)",89622,0.450396,83376,6246,0.069693,0.983205,0.309480,0.037198
1,"[0.50, 1.50)",22878,0.114973,20682,2196,0.095987,0.634412,0.037178,0.004571
2,"[1.50, 3.50)",25232,0.126804,22008,3224,0.127774,0.312569,0.011138,0.001387
3,"[3.50, 5.50)",16896,0.084911,14234,2662,0.157552,0.068342,0.000388,0.000048
4,"[5.50, 8.50)",21535,0.108224,16867,4668,0.216763,-0.323586,0.012578,0.001565
5,"[8.50, 18.50)",12828,0.064467,8051,4777,0.372389,-1.086231,0.103552,0.012343
6,"[18.50, inf)",9994,0.050225,569,9425,0.943066,-4.415455,1.238405,0.090279
7,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
8,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,1.712719,0.147392

max_dpd_3m

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 0.50)",72345,0.363570,68564,3781,0.052263,1.289565,0.386450,0.045215
1,"[0.50, 1.50)",23882,0.120019,22153,1729,0.072398,0.942216,0.076830,0.009264
2,"[1.50, 2.50)",14786,0.074307,13275,1511,0.102191,0.564897,0.019522,0.002408
3,"[2.50, 4.50)",22596,0.113556,20282,2314,0.102408,0.562542,0.029609,0.003653
4,"[4.50, 6.50)",17919,0.090052,15162,2757,0.153859,0.096435,0.000811,0.000101
5,"[6.50, 8.50)",17062,0.085745,13844,3218,0.188606,-0.149122,0.002003,0.000250
6,"[8.50, inf)",30395,0.152750,12507,17888,0.588518,-1.966056,0.911046,0.098484
7,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
8,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,1.426269,0.159375

count_pay_12m

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 6.50)",10460,0.052567,6966,3494,0.334034,-0.91822,0.058059,0.007013
1,"[6.50, 11.50)",37496,0.188436,31973,5523,0.147296,0.147756,0.003914,0.000489
2,"[11.50, 12.50)",46806,0.235224,43106,3700,0.079050,0.847115,0.125844,0.015276
3,"[12.50, 13.50)",29273,0.147112,25917,3356,0.114645,0.435935,0.024080,0.002986
4,"[13.50, 14.50)",13840,0.069553,11854,1986,0.143497,0.178329,0.002083,0.000260
5,"[14.50, 17.50)",23583,0.118516,19141,4442,0.188356,-0.147486,0.002706,0.000338
6,"[17.50, 20.50)",14477,0.072754,11033,3444,0.237895,-0.443957,0.016512,0.002047
7,"[20.50, 23.50)",11656,0.058577,8638,3018,0.258922,-0.556637,0.021601,0.002666
8,"[23.50, inf)",11394,0.057261,7159,4235,0.371687,-1.083227,0.091409,0.010898
9,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
10,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,0.346207,0.041973

count_pay_9m

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 0.50)",36923,0.185557,30511,6412,0.173659,-0.048298,0.000440,0.000055
1,"[0.50, 2.50)",20918,0.105124,17383,3535,0.168993,-0.015435,0.000025,0.000003
2,"[2.50, 3.50)",68008,0.341775,61076,6932,0.101929,0.567756,0.090610,0.011177
3,"[3.50, 4.50)",36069,0.181265,30492,5577,0.154620,0.090599,0.001443,0.000180
4,"[4.50, 5.50)",14043,0.070573,11010,3033,0.215979,-0.318962,0.007958,0.000991
5,"[5.50, 6.50)",12914,0.064899,9492,3422,0.264984,-0.58799,0.026944,0.003320
6,"[6.50, inf)",10110,0.050808,5823,4287,0.424036,-1.301986,0.122401,0.014303
7,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
8,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,0.249821,0.030029

count_pay_6m

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 1.50)",15668,0.078740,12343,3325,0.212216,-0.296595,0.007624,0.000950
1,"[1.50, 5.50)",39017,0.196080,32804,6213,0.159238,0.055692,0.000597,0.000075
2,"[5.50, 6.50)",59064,0.296826,53557,5507,0.093238,0.666512,0.104751,0.012857
3,"[6.50, 7.50)",32185,0.161746,27805,4380,0.136088,0.239953,0.008585,0.001071
4,"[7.50, 9.50)",22850,0.114833,18524,4326,0.189322,-0.15379,0.002857,0.000357
5,"[9.50, 11.50)",14071,0.070714,10573,3498,0.248596,-0.502102,0.020884,0.002583
6,"[11.50, inf)",16130,0.081061,10181,5949,0.368816,-1.070914,0.126140,0.015055
7,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
8,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,0.271439,0.032947

count_pay_3m

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 4.50)",16808,0.084469,13007,3801,0.226142,-0.377991,0.013622,0.001693
1,"[4.50, 8.50)",34486,0.173310,29134,5352,0.155193,0.086221,0.001252,0.000156
2,"[8.50, 9.50)",52187,0.262266,47744,4443,0.085136,0.766309,0.118127,0.014415
3,"[9.50, 10.50)",30837,0.154971,26964,3873,0.125596,0.332259,0.015277,0.001901
4,"[10.50, 12.50)",22960,0.115386,19059,3901,0.169904,-0.021908,0.000056,0.000007
5,"[12.50, 14.50)",13584,0.068266,10587,2997,0.220627,-0.346199,0.009146,0.001138
6,"[14.50, 17.50)",14865,0.074704,10991,3874,0.260612,-0.565425,0.028496,0.003515
7,"[17.50, inf)",13258,0.066628,8301,4957,0.373887,-1.092639,0.108440,0.012919
8,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
9,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,0.294416,0.035743

no_loan_active

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 3.50)",188135,0.945473,156143,31992,0.170048,-0.022928,0.000501,0.000063
1,"[3.50, inf)",10850,0.054527,9644,1206,0.111152,0.470813,0.010284,0.001274
2,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
3,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,0.010785,0.001336

fl_cbway

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 0.50)",184227,0.925834,152220,32007,0.173737,-0.048842,0.002245,0.000281
1,"[0.50, inf)",14758,0.074166,13567,1191,0.080702,0.824633,0.037899,0.004608
2,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
3,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,0.040143,0.004888

fl_card_debit

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 0.50)",175224,0.880589,144402,30822,0.175901,-0.063842,0.003666,0.000458
1,"[0.50, inf)",23761,0.119411,21385,2376,0.099996,0.589057,0.033824,0.004168
2,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
3,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,0.037490,0.004626

dti

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 0.15)",12157,0.061095,9419,2738,0.225220,-0.372713,0.009564,0.001189
1,"[0.15, 0.26)",36593,0.183898,31861,4732,0.129314,0.298821,0.014834,0.001847
2,"[0.26, 0.29)",10556,0.053049,9769,787,0.074555,0.910527,0.032068,0.003875
3,"[0.29, 0.32)",13674,0.068719,11611,2063,0.150870,0.119577,0.000944,0.000118
4,"[0.32, 0.40)",35348,0.177642,29717,5631,0.159302,0.055218,0.000532,0.000066
5,"[0.40, 0.44)",16718,0.084016,13882,2836,0.169638,-0.020016,0.000034,0.000004
6,"[0.44, 0.49)",16995,0.085408,13883,3112,0.183113,-0.112815,0.001128,0.000141
7,"[0.49, 0.60)",33816,0.169942,27398,6418,0.189792,-0.156851,0.004402,0.000550
8,"[0.60, 0.67)",11752,0.059060,9457,2295,0.195286,-0.192192,0.002323,0.000290
9,"[0.67, inf)",11376,0.057170,8790,2586,0.227321,-0.384712,0.009570,0.001189
10,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
11,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,0.075399,0.009270

ltv

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 0.17)",20408,0.102560,17392,3016,0.147785,0.143865,0.002022,0.000253
1,"[0.17, 0.23)",13966,0.070186,12413,1553,0.111199,0.470342,0.013213,0.001637
2,"[0.23, 0.29)",13037,0.065518,11802,1235,0.094730,0.648984,0.022057,0.002710
3,"[0.29, 0.40)",24731,0.124286,21293,3438,0.139016,0.215274,0.005355,0.000668
4,"[0.40, 0.50)",32367,0.162661,27702,4665,0.144128,0.173203,0.004603,0.000575
5,"[0.50, 0.57)",22823,0.114697,18804,4019,0.176094,-0.065178,0.000498,0.000062
6,"[0.57, 0.63)",20592,0.103485,16912,3680,0.178710,-0.083104,0.000735,0.000092
7,"[0.63, 0.67)",12628,0.063462,10219,2409,0.190767,-0.163177,0.001783,0.000223
8,"[0.67, 0.69)",16365,0.082242,12534,3831,0.234097,-0.422895,0.016829,0.002088
9,"[0.69, inf)",21923,0.110174,16571,5352,0.244127,-0.47803,0.029285,0.003626
10,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
11,Missing,145,0.000729,145,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,0.096379,0.011932

duration

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 64.50)",26533,0.133342,24170,2363,0.089059,0.716966,0.053493,0.006547
1,"[64.50, 149.00)",69776,0.350660,59152,10624,0.152259,0.108781,0.004001,0.000500
2,"[149.00, 182.50)",77311,0.388527,61529,15782,0.204137,-0.247576,0.025812,0.003218
3,"[182.50, inf)",25365,0.127472,20936,4429,0.174611,-0.054918,0.000392,0.000049
4,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
5,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,198985,1.000000,165787,33198,0.166837,,0.083697,0.010314

is_bad

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, inf)",198985,1.0,165787,33198,0.166837,0.0,0.0,0.0
1,Special,0,0.0,0,0,0.000000,0.0,0.0,0.0
2,Missing,0,0.0,0,0,0.000000,0.0,0.0,0.0
Totals,,198985,1.0,165787,33198,0.166837,,0.0,0.0