In [1054]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
import pandas as pd
import numpy as np
import seaborn as sns
from sqlalchemy import create_engine
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.manifold import TSNE
from scipy.spatial.distance import cdist
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split, cross_val_predict, RepeatedStratifiedKFold, GridSearchCV
from sklearn.metrics import accuracy_score, f1_score, classification_report, make_scorer, confusion_matrix
from sklearn.cluster import KMeans, AgglomerativeClustering
from sqlalchemy import create_engine
from sklearn.cluster import AgglomerativeClustering
import scipy.cluster.hierarchy as shc
from yellowbrick.cluster import KElbowVisualizer,SilhouetteVisualizer
import matplotlib
import warnings
from sklearn.mixture import GaussianMixture
from sklearn.ensemble import RandomForestClassifier,VotingClassifier,StackingClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from optbinning import OptimalBinning
import re
from IPython.display import display, Markdown

In [1314]:
engine = create_engine('postgresql+psycopg2://vuongdm:vuongdm@192.168.1.123:5432/cbquant')

In [1315]:
query ="""select * from public.data_ascore"""
df = pd.read_sql(query, con = engine)

In [1316]:
# conn = create_engine('postgresql+psycopg2://postgres:Baohoai123%40@192.168.1.123/cbquant')
# query ="""select ac.* from temp.ascore_2021_2022 ac left join dmt.dim_customer dc on ac.cif = dc.id where dc.bank_relation != 'T'"""
# df = pd.read_sql(query, con = conn)

In [1317]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8856 entries, 0 to 8855
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cif                       8856 non-null   object
 1   company_group             8856 non-null   object
 2   home_ownership_status     8856 non-null   object
 3   income_type               8856 non-null   object
 4   length_of_residence_year  8764 non-null   float64
 5   edu_level_group           8856 non-null   object
 6   current_job_group         8856 non-null   object
 7   total_income              8856 non-null   float64
 8   estimated_income          8856 non-null   float64
 9   collateral_value          8821 non-null   float64
 10  dependence                8856 non-null   int64
 11  marriage_status           8856 non-null   object
 12  age                       8856 non-null   float64
 13  gender                    8856 non-null   object
 14  loan_amount               8856 non-null   float64
 15  interest                  8856 non-null   float64
 16  duration                  8856 non-null   int64
 17  time_in_job               4552 non-null   object
 18  time_in_current_job       8856 non-null   float64
 19  labor_contract_date       4552 non-null   object
 20  is_bad                    8856 non-null   bool
 21  created_at                8856 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(8), int64(2), object(10)
memory usage: 1.4+ MB

In [1318]:
df['having_labor_contract'] = df['labor_contract_date'].apply(lambda value: 'no' if value is None  else 'yes')

In [1319]:
df['time_in_job'] = df['time_in_job'].apply(lambda value: 'unknown' if value is None else value)

In [1320]:
df['length_of_residence_year'].fillna(5, inplace=True)

In [1321]:
df['job_and_company_type'] = df['current_job_group'] + '_' + df['company_group']

# total_trans

In [1322]:
def income_transform(x):
    if x < 15666459:
        return '(-inf, 15666459.00)'
    elif x < 24540684 :
        return '[15666459.00, 24540684.00)'
    elif x < 40222034:
        return '[24540684.00, 40222034.00)'
    elif x < 64970464:
        return '[40222034.00, 64970464.00)'
    elif x < 81126068:
        return '[64970464.00, 81126068.00)'
    elif x < 99142612:
        return '[81126068.00, 99142612.00)'
    elif x < 112593100:
        return '[99142612.00, 112593100.00)'
    else :
        return '[112593100.00, inf)'
def dependence_transform(x):
    if x <2:
        return '<2 nguoi'
    elif x >=2:
        return '>=2 nguoi'

In [1323]:
optb = OptimalBinning(name='total_income', dtype='numerical', solver='cp',max_n_bins=10)
optb.fit(df['total_income'], df.is_bad.values)
binning_table = optb.binning_table
result = binning_table.build()
IV = result.IV.values[-1]
result

,Bin,Count,Count (%),Non-event,Event,Event rate,WoE,IV,JS
0,"(-inf, 18065666.00)",2625,0.296409,2445,180,0.068571,0.188568,0.009742,0.001216
1,"[18065666.00, 20403717.00)",455,0.051378,439,16,0.035165,0.891635,0.028396,0.003436
2,"[20403717.00, 27413375.00)",1110,0.125339,1038,72,0.064865,0.248109,0.006958,0.000867
3,"[27413375.00, 32702584.00)",954,0.107724,885,69,0.072327,0.131205,0.001756,0.000219
4,"[32702584.00, 47495056.00)",1187,0.134033,1096,91,0.076664,0.068287,0.000607,0.000076
5,"[47495056.00, inf)",2525,0.285117,2230,295,0.116832,-0.397494,0.053197,0.006606
6,Special,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
7,Missing,0,0.000000,0,0,0.000000,0.0,0.000000,0.000000
Totals,,8856,1.000000,8133,723,0.081640,,0.100656,0.012421

In [1324]:
# def income_transform(x):
#     if x < 12000000:
#         return '<12tr'
#     elif x < 20000000:
#         return '12tr-20tr'
#     elif x < 30000000:
#         return '20tr-30tr'
#     elif x < 40000000:
#         return '30tr-40tr'
#     elif x < 50000000:
#         return '40tr-50tr'
#     elif x < 60000000:
#         return '50tr-60tr'
#     elif x < 70000000:
#         return '60tr-70tr'
#     elif x < 80000000:
#         return '70tr-80tr'
#     else:
#         return '>80tr'
# def income_transform(x):
#     if x < 12000000:
#         return '<12tr'
#     elif x < 40000000:
#         return '12tr-40tr'
#     elif x < 60000000:
#         return '40tr-60tr'
#     elif x < 80000000:
#         return '60tr-80tr'
#     else :
#         return '>80tr'

In [1325]:
df['total_income_trans'] = df['total_income'].map(lambda x : income_transform(x))
df['dependence_trans'] = df['dependence'].map(lambda x : dependence_transform(x))

In [1326]:
df['income_and_type'] = df['total_income_trans'] + '_' + df['income_type']

In [1327]:
df['home_ownership_status'].value_counts()

sở hữa riêng    5744
ở chung         2490
kháckhác         622
Name: home_ownership_status, dtype: int64

# utils

In [1497]:
class DataProcessing():
    
    def interval_convert(self, s):
        start = s[0]
        end = s[-1]
        str_range = s[1:-1]
        if ',' in s:
            left, right = re.split('\s*\,\s*', str_range)
            closed = 'neither'
            if start == '[' and end != ']':
                closed = 'left'
            if start != '[' and end == ']':
                closed = 'right'
            if start == '[' and end == ']':
                closed = 'both'
            left = -np.inf if left == '-inf' else float(left)
            right = -np.inf if right == '-inf' else float(right)
            return pd.Interval(left, right, closed=closed)
        else:
            return s
    
    def optimize_binary_binning(self, x, y, name='default', dtype='numerical', solver='cp'):
        if type(x[0]) == str:
            dtype = 'categorical'
        
        optb = OptimalBinning(name=name, dtype=dtype, solver=solver,min_n_bins=2)
        optb.fit(x, y)
        binning_table = optb.binning_table
        result = binning_table.build()
        IV = result.IV.values[-1]
        print('IV score of %s: %s' % (name, IV))
        interval = [self.interval_convert(e) for e in result.Bin.values[:-3]]
        for i in interval:
            print(i)
            print('------------------------------------')
        return interval,IV
    
    def map_bin(self, value, bin_arr):
        for bin in bin_arr:
            if value in bin:
                return str(bin)
    
    def DecisionTreeFeatureSelection(self, X, y, criterion='gini'):
        try:
            X = X.reshape(-1, 1)
        except:
            pass
        params = {'max_depth' : list(range(1,10)), 'min_samples_split':list(range(1,100,5))}
        clf_dt = DecisionTreeClassifier()
        clf = GridSearchCV(clf_dt, param_grid=params, scoring='accuracy')
        clf.fit(X, y)
        clf_dt = DecisionTreeClassifier(criterion=criterion,**clf.best_params_)
        model = clf_dt.fit(X, y)
        plt.figure(figsize=(40,30))
        plot_tree(model, filled=True, class_names=list(set(y)), fontsize=10, feature_names=X.columns)
        plt.show()
        return model

    def psi_calculation(self, basedf, newdf):
        columns = list(basedf.columns)
        display(Markdown('<span style="color: #ff0000; font-weight:bold">PSI Table Comparation</span>'))
        for col in columns:
            base = pd.DataFrame(basedf[col].value_counts())
            base['p'] = base[col]/base[col].sum()
            new = pd.DataFrame(newdf[col].value_counts())
            new['p'] = new[col]/new[col].sum()
            result = base.merge(new, left_index=True, right_index=True, how='inner')
            result['delta'] = result['p_x'] - result['p_y']
            result['ln'] = np.log(result['p_x']/result['p_y'])
            result['psi'] = result['delta'] * result['ln']
            final_psi = result['psi'].sum()
            display(Markdown('%s: %s %s' % (col, final_psi, '<span style="color: #ff0000; font-weight:bold"> ❌</span>' if final_psi >= 0.2 else '<span style="color: #0f995c; font-weight:bold"> ✅</span>')))

class CalculateScore():
    
    def __init__(self) -> None:
        return None
    
    def calculate(self, data_frame, var_column:str, target:str):
        # Diem truoc chuan hoa
        score = data_frame.groupby([var_column], as_index = False).agg({target:'mean'})
        score[target] = np.log(1/score[target] -1)
        score = score.rename(columns = {target:'score'})
        # Diem sau chuan hoa
        score = data_frame.merge(score, how='left', on=var_column)
        score['t_score'] = (score.score - score.score.mean())*50.0/score.score.std()
        count_score = data_frame.groupby([var_column], as_index=False).size()
        count_score.rename(columns={'size':'count'}, inplace = True)
        return count_score.merge(score, how='left', on=var_column)[[var_column, 'count','score','t_score']].drop_duplicates(keep='first').reset_index(drop=True)
    
    def do_score_calculate(self, data_frame, var_columns:list, target:str, calculate_standardized_score:bool=False, beta_var_percentage:dict = {}):
        # data_frame = data_frame.copy()
        self.df = data_frame.copy()
        self.var_columns = var_columns
        score_dict = {}
        max_score = 0
        min_score = 0
    
        total_count_max = 0
        total_count_min = 0
        if calculate_standardized_score:
            for col in var_columns:
                score_df = self.calculate(data_frame, col, target)
                score_dict[col] = score_df
                score_df_max = score_df.t_score.max()
                score_df_min = score_df.t_score.min()
                
                max_score += score_df_max*beta_var_percentage[col]
                min_score += score_df_min*beta_var_percentage[col]
                print(max_score)
                
#                 total_count_max += score_df[score_df.t_score==score_df_max]['count'].values[0]
#                 total_count_min += score_df[score_df.t_score==score_df_min]['count'].values[0]

            for col, df in score_dict.items():
                n_score = []
                for i in range(len(df)):
                    n_score.append(beta_var_percentage[col]*1000*(df.loc[i,'t_score']-min_score)/(max_score-min_score))
                df['n_score'] = n_score
                score_dict[col] = df
        else:
            for col in var_columns:
                score_df = self.calculate(data_frame, col, target)
                score_dict[col] = score_df
        self.score_dict = score_dict
        return score_dict
    
    def result(self):
        
        for col in self.var_columns:
            temp = dict(self.score_dict[col])
            mapping_value = dict(zip(temp[col], temp['t_score']))
            self.df[col].replace(mapping_value, inplace=True)
        return self.df
    
DP = DataProcessing()
calc = CalculateScore()

In [1498]:
class CalculateScore():
    
    def __init__(self) -> None:
        return None
    
    def calculate(self, data_frame, var_column:str, target:str):
        # Diem truoc chuan hoa
        score = data_frame.groupby([var_column], as_index = False).agg({target:'mean'})
        score[target] = np.log(1/score[target] -1)
        score = score.rename(columns = {target:'score'})
        # Diem sau chuan hoa
        score = data_frame.merge(score, how='left', on=var_column)
        score['t_score'] = (score.score - score.score.mean())*100.0/score.score.std()
        count_score = data_frame.groupby([var_column], as_index=False).size()
        count_score.rename(columns={'size':'count'}, inplace = True)
        return count_score.merge(score, how='left', on=var_column)[[var_column, 'count','score','t_score']].drop_duplicates(keep='first').reset_index(drop=True)
    
    def do_score_calculate(self, data_frame, var_columns:list, target:str, calculate_standardized_score:bool=False, beta_var_percentage:dict = {}):
        self.df = data_frame
        self.var_columns = var_columns
        score_dict = {}
        max_score = 0
        min_score = 0
    
        total_count_max = 0
        total_count_min = 0
        if calculate_standardized_score:
            for col in var_columns:
                score_df = self.calculate(data_frame, col, target)
                score_dict[col] = score_df
                score_df_max = score_df.t_score.max()
                score_df_min = score_df.t_score.min()

                max_score += score_df_max*beta_var_percentage[col]
                min_score += score_df_min*beta_var_percentage[col]

                total_count_max += score_df[score_df.t_score==score_df_max]['count'].values[0]
                total_count_min += score_df[score_df.t_score==score_df_min]['count'].values[0]

            for col, df in score_dict.items():
                n_score = []
                for i in range(len(df)):
                    n_score.append(beta_var_percentage[col]*1000*(df.loc[i,'t_score']-min_score)/(max_score-min_score))
                df['n_score'] = n_score
                score_dict[col] = df
        else:
            for col in var_columns:
                score_df = self.calculate(data_frame, col, target)
                score_dict[col] = score_df
        self.score_dict = score_dict
        return score_dict
    
    def result(self):
        
        for col in self.var_columns:
            temp = dict(self.score_dict[col])
            mapping_value = dict(zip(temp[col], temp['t_score']))
            self.df[col].replace(mapping_value, inplace=True)
        return self.df

In [1499]:
df.columns

Index(['cif', 'company_group', 'home_ownership_status', 'income_type',
       'length_of_residence_year', 'edu_level_group', 'current_job_group',
       'total_income', 'estimated_income', 'collateral_value', 'dependence',
       'marriage_status', 'age', 'gender', 'loan_amount', 'interest',
       'duration', 'time_in_job', 'time_in_current_job', 'labor_contract_date',
       'is_bad', 'created_at', 'having_labor_contract', 'job_and_company_type',
       'total_income_trans', 'dependence_trans', 'income_and_type'],
      dtype='object')

In [1766]:
required_columns = ['company_group','edu_level_group','dependence_trans','age', 'income_type', 'length_of_residence_year', 
                    'total_income', 'estimated_income', 'marriage_status', 'duration', 'job_and_company_type',
                    'income_and_type','home_ownership_status', 'current_job_group','having_labor_contract','loan_amount',
                    'time_in_job','time_in_current_job',
                    'is_bad']
df_traindata = df.query('created_at < "2022-06-01" and created_at>="2020-01-01" ')[required_columns]
df_testdata = df.query('created_at < "2023-01-01" and created_at>="2022-06-01" ')[required_columns]
df_testdata1 = df.query('created_at < "2020-01-01" and created_at>="2019-01-01" ')[required_columns]
df_testdata2 = df.query('created_at < "2019-01-01" and created_at>"2016-01-01" ')[required_columns]
display(df_traindata)
display(df_testdata)
display(df_testdata1)
display(df_testdata2)

,company_group,edu_level_group,dependence_trans,age,income_type,length_of_residence_year,total_income,estimated_income,marriage_status,duration,job_and_company_type,income_and_type,home_ownership_status,current_job_group,having_labor_contract,loan_amount,time_in_job,time_in_current_job,is_bad
0,doanh nghiệp khác,trung cấp,<2 nguoi,52.0,chuyển khoản,52.500000,9666745.0,6.070584e+06,có gia đình,60,unknown_doanh nghiệp khác,"(-inf, 15666459.00)_chuyển khoản",sở hữa riêng,unknown,yes,2.000000e+08,tu5,0.90,False
1,tổ chức ngoài công lập,cao đẳng,<2 nguoi,46.0,khác,7.000000,45000000.0,2.763270e+07,có gia đình,180,business_tổ chức ngoài công lập,"[40222034.00, 64970464.00)_khác",sở hữa riêng,business,yes,1.800000e+09,tu5,0.00,False
2,tổ chức ngoài công lập,trung cấp,>=2 nguoi,52.0,khác,13.166667,50000000.0,2.413489e+07,có gia đình,108,unknown_tổ chức ngoài công lập,"[40222034.00, 64970464.00)_khác",sở hữa riêng,unknown,no,1.200000e+09,unknown,0.00,False
3,tổ chức ngoài công lập,trung cấp,<2 nguoi,56.0,khác,15.500000,20000000.0,9.486391e+06,có gia đình,84,business_tổ chức ngoài công lập,"[15666459.00, 24540684.00)_khác",sở hữa riêng,business,yes,4.000000e+08,tu4den5nam,0.00,False
4,doanh nghiệp lớn,đại học,>=2 nguoi,36.0,khác,5.000000,29977412.0,1.064318e+07,có gia đình,220,white_manager_doanh nghiệp lớn,"[24540684.00, 40222034.00)_khác",ở chung,white_manager,no,7.500000e+08,unknown,0.00,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8833,tổ chức ngoài công lập,trung cấp,<2 nguoi,34.0,khác,34.000000,15000000.0,6.020408e+06,có gia đình,84,unknown_tổ chức ngoài công lập,"(-inf, 15666459.00)_khác",sở hữa riêng,unknown,yes,2.000000e+08,tu3den4nam,0.00,False
8834,doanh nghiệp khác,đại học,<2 nguoi,26.0,tiền mặt,26.500000,8000000.0,3.785714e+06,độc thân,180,white_staff_doanh nghiệp khác,"(-inf, 15666459.00)_tiền mặt",ở chung,white_staff,yes,1.800000e+08,tu1den3nam,2.16,False
8835,tổ chức ngoài công lập,đại học,<2 nguoi,39.0,tiền mặt,9.166667,19500000.0,8.857143e+06,độc thân,60,unknown_tổ chức ngoài công lập,"[15666459.00, 24540684.00)_tiền mặt",sở hữa riêng,unknown,yes,2.400000e+08,tu1den3nam,0.00,False
8836,tổ chức ngoài công lập,đại học,<2 nguoi,32.0,tiền mặt,21.000000,10000000.0,7.361111e+06,độc thân,180,unknown_tổ chức ngoài công lập,"(-inf, 15666459.00)_tiền mặt",sở hữa riêng,unknown,yes,3.500000e+08,tu1den3nam,2.94,False
8838,doanh nghiệp khác,trung cấp,<2 nguoi,37.0,tiền mặt,37.333333,12000000.0,7.361111e+06,khác,180,blue_staff_doanh nghiệp khác,"(-inf, 15666459.00)_tiền mặt",ở chung,blue_staff,yes,3.500000e+08,tu5,1.06,False

,company_group,edu_level_group,dependence_trans,age,income_type,length_of_residence_year,total_income,estimated_income,marriage_status,duration,job_and_company_type,income_and_type,home_ownership_status,current_job_group,having_labor_contract,loan_amount,time_in_job,time_in_current_job,is_bad
10,tổ chức ngoài công lập,đại học,<2 nguoi,43.0,khác,10.000000,61676445.0,3.735364e+07,có gia đình,192,white_manager_tổ chức ngoài công lập,"[40222034.00, 64970464.00)_khác",sở hữa riêng,white_manager,yes,2.500000e+09,tu5,3.54,False
11,tổ chức công,đại học,>=2 nguoi,43.0,chuyển khoản,7.750000,54074638.0,4.123377e+07,có gia đình,132,white_staff_tổ chức công,"[40222034.00, 64970464.00)_chuyển khoản",sở hữa riêng,white_staff,yes,1.500000e+09,duoi1nam,1.11,False
17,tổ chức ngoài công lập,trung cấp,<2 nguoi,38.0,khác,7.416667,76850000.0,5.535714e+06,có gia đình,60,unknown_tổ chức ngoài công lập,"[64970464.00, 81126068.00)_khác",sở hữa riêng,unknown,yes,1.500000e+08,tu1den3nam,0.00,False
25,doanh nghiệp khác,cao đẳng,>=2 nguoi,29.0,chuyển khoản,4.000000,11674832.0,8.750000e+06,có gia đình,120,blue_staff_doanh nghiệp khác,"(-inf, 15666459.00)_chuyển khoản",sở hữa riêng,blue_staff,yes,3.500000e+08,tu5,9.67,False
53,tổ chức ngoài công lập,trung cấp,>=2 nguoi,40.0,tiền mặt,0.416667,45000000.0,3.809524e+07,có gia đình,240,unknown_tổ chức ngoài công lập,"[40222034.00, 64970464.00)_tiền mặt",sở hữa riêng,unknown,yes,2.000000e+09,tu3den4nam,0.00,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8851,tổ chức ngoài công lập,đại học,>=2 nguoi,44.0,khác,3.333333,90000000.0,3.000000e+07,có gia đình,180,business_tổ chức ngoài công lập,"[81126068.00, 99142612.00)_khác",sở hữa riêng,business,yes,1.350000e+09,tu1den3nam,0.00,False
8852,tổ chức ngoài công lập,đại học,>=2 nguoi,43.0,khác,0.750000,58288460.0,2.023810e+07,có gia đình,240,unknown_tổ chức ngoài công lập,"[40222034.00, 64970464.00)_khác",ở chung,unknown,yes,1.000000e+09,duoi1nam,0.00,False
8853,tổ chức công,cao đẳng,<2 nguoi,49.0,tiền mặt,48.916667,18236177.0,1.000000e+07,có gia đình,120,white_staff_tổ chức công,"[15666459.00, 24540684.00)_tiền mặt",sở hữa riêng,white_staff,yes,3.500000e+08,tu5,2.04,False
8854,tổ chức ngoài công lập,đại học,<2 nguoi,33.0,tiền mặt,33.000000,15000000.0,7.142857e+06,có gia đình,120,unknown_tổ chức ngoài công lập,"(-inf, 15666459.00)_tiền mặt",ở chung,unknown,yes,2.500000e+08,tu1den3nam,0.00,False
8855,tổ chức ngoài công lập,đại học,<2 nguoi,34.0,khác,22.000000,25000000.0,1.357143e+07,khác,240,unknown_tổ chức ngoài công lập,"[24540684.00, 40222034.00)_khác",ở chung,unknown,yes,6.000000e+08,tu1den3nam,0.00,False

,company_group,edu_level_group,dependence_trans,age,income_type,length_of_residence_year,total_income,estimated_income,marriage_status,duration,job_and_company_type,income_and_type,home_ownership_status,current_job_group,having_labor_contract,loan_amount,time_in_job,time_in_current_job,is_bad
26,tổ chức ngoài công lập,trung cấp,>=2 nguoi,46.0,tiền mặt,23.000000,20000000.0,1.422959e+07,có gia đình,84,unknown_tổ chức ngoài công lập,"[15666459.00, 24540684.00)_tiền mặt",sở hữa riêng,unknown,no,600000000.0,unknown,0.0,False
28,doanh nghiệp khác,cao đẳng,>=2 nguoi,26.0,chuyển khoản,17.250000,10951311.0,7.114793e+06,khác,84,white_staff_doanh nghiệp khác,"(-inf, 15666459.00)_chuyển khoản",ở chung,white_staff,no,300000000.0,unknown,0.0,False
29,doanh nghiệp khác,trung cấp,>=2 nguoi,39.0,tiền mặt,2.166667,17047227.0,3.557397e+06,có gia đình,84,blue_staff_doanh nghiệp khác,"[15666459.00, 24540684.00)_tiền mặt",sở hữa riêng,blue_staff,no,150000000.0,unknown,0.0,False
31,doanh nghiệp khác,trung cấp,>=2 nguoi,44.0,chuyển khoản,17.416667,12129246.0,3.035292e+06,có gia đình,60,blue_staff_doanh nghiệp khác,"(-inf, 15666459.00)_chuyển khoản",ở chung,blue_staff,no,100000000.0,unknown,0.0,False
33,doanh nghiệp khác,trung cấp,>=2 nguoi,21.0,chuyển khoản,12.666667,6168542.0,4.552938e+06,khác,60,unknown_doanh nghiệp khác,"(-inf, 15666459.00)_chuyển khoản",ở chung,unknown,no,150000000.0,unknown,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8684,doanh nghiệp khác,trung cấp,>=2 nguoi,34.0,chuyển khoản,4.416667,11000000.0,4.605451e+06,độc thân,180,white_staff_doanh nghiệp khác,"(-inf, 15666459.00)_chuyển khoản",ở chung,white_staff,no,300000000.0,unknown,0.0,False
8685,doanh nghiệp khác,trung cấp,>=2 nguoi,52.0,chuyển khoản,11.416667,13014270.0,4.743195e+06,có gia đình,84,blue_staff_doanh nghiệp khác,"(-inf, 15666459.00)_chuyển khoản",sở hữa riêng,blue_staff,no,200000000.0,unknown,0.0,False
8687,doanh nghiệp khác,đại học,>=2 nguoi,31.0,tiền mặt,3.666667,14000000.0,5.928994e+06,có gia đình,84,white_staff_doanh nghiệp khác,"(-inf, 15666459.00)_tiền mặt",sở hữa riêng,white_staff,no,250000000.0,unknown,0.0,False
8688,doanh nghiệp khác,đại học,>=2 nguoi,35.0,chuyển khoản,0.166667,16500000.0,4.605451e+06,có gia đình,180,white_staff_doanh nghiệp khác,"[15666459.00, 24540684.00)_chuyển khoản",sở hữa riêng,white_staff,no,300000000.0,unknown,0.0,False
8689,tổ chức công,đại học,>=2 nguoi,39.0,tiền mặt,10.833333,10147770.0,5.663603e+06,có gia đình,120,white_staff_tổ chức công,"(-inf, 15666459.00)_tiền mặt",ở chung,white_staff,no,300000000.0,unknown,0.0,False

,company_group,edu_level_group,dependence_trans,age,income_type,length_of_residence_year,total_income,estimated_income,marriage_status,duration,job_and_company_type,income_and_type,home_ownership_status,current_job_group,having_labor_contract,loan_amount,time_in_job,time_in_current_job,is_bad
6,tổ chức ngoài công lập,đại học,>=2 nguoi,35.0,chuyển khoản,0.916667,65000000.0,4.451935e+07,có gia đình,180,unknown_tổ chức ngoài công lập,"[64970464.00, 81126068.00)_chuyển khoản",sở hữa riêng,unknown,no,2.900000e+09,unknown,0.0,False
7,doanh nghiệp khác,đại học,>=2 nguoi,29.0,chuyển khoản,29.750000,11126500.0,7.588230e+06,khác,60,white_staff_doanh nghiệp khác,"(-inf, 15666459.00)_chuyển khoản",ở chung,white_staff,no,2.500000e+08,unknown,0.0,False
16,doanh nghiệp khác,đại học,>=2 nguoi,45.0,tiền mặt,4.916667,14000000.0,1.062352e+07,có gia đình,60,white_staff_doanh nghiệp khác,"(-inf, 15666459.00)_tiền mặt",kháckhác,white_staff,no,3.500000e+08,unknown,0.0,False
21,tổ chức ngoài công lập,trung cấp,>=2 nguoi,48.0,khác,49.000000,6803434.0,3.070300e+06,có gia đình,180,unknown_tổ chức ngoài công lập,"(-inf, 15666459.00)_khác",sở hữa riêng,unknown,no,2.000000e+08,unknown,0.0,False
22,doanh nghiệp khác,trung cấp,>=2 nguoi,31.0,tiền mặt,5.416667,18000000.0,2.302725e+07,có gia đình,180,unknown_doanh nghiệp khác,"[15666459.00, 24540684.00)_tiền mặt",ở chung,unknown,no,1.500000e+09,unknown,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8645,tổ chức công,đại học,>=2 nguoi,36.0,tiền mặt,3.166667,34255719.0,6.447631e+06,có gia đình,180,white_staff_tổ chức công,"[24540684.00, 40222034.00)_tiền mặt",kháckhác,white_staff,no,4.200000e+08,unknown,0.0,False
8646,tổ chức công,trung cấp,>=2 nguoi,34.0,chuyển khoản,7.083333,18200000.0,6.140601e+06,có gia đình,180,white_manager_tổ chức công,"[15666459.00, 24540684.00)_chuyển khoản",ở chung,white_manager,no,4.000000e+08,unknown,0.0,False
8647,tổ chức công,đại học,>=2 nguoi,40.0,chuyển khoản,18.083333,18500000.0,6.140601e+06,có gia đình,180,white_manager_tổ chức công,"[15666459.00, 24540684.00)_chuyển khoản",sở hữa riêng,white_manager,no,4.000000e+08,unknown,0.0,False
8648,tổ chức công,đại học,>=2 nguoi,29.0,chuyển khoản,3.000000,17026500.0,1.381635e+07,có gia đình,180,white_staff_tổ chức công,"[15666459.00, 24540684.00)_chuyển khoản",sở hữa riêng,white_staff,no,9.000000e+08,unknown,0.0,False
8649,tổ chức công,đại học,>=2 nguoi,51.0,chuyển khoản,19.000000,50837062.0,1.214117e+07,có gia đình,60,white_manager_tổ chức công,"[40222034.00, 64970464.00)_chuyển khoản",sở hữa riêng,white_manager,no,4.000000e+08,unknown,0.0,False

In [1767]:
2471/(3174+2471)

0.43773250664304697

# Binning

In [1768]:
binning_dict = {}
columns = list(df_traindata.columns)
columns.remove('is_bad')
iv = {}
for column in columns:
    print(column)
    binning,IV = DP.optimize_binary_binning(x=df_traindata[column].values, y=df_traindata.is_bad.values)
    binning_dict[column] = binning
    df_traindata[column] = df_traindata[column].apply(lambda x :  DP.map_bin(x, binning))
    df_testdata[column] = df_testdata[column].apply(lambda x :  DP.map_bin(x, binning))
    df_testdata1[column] = df_testdata1[column].apply(lambda x :  DP.map_bin(x, binning))
    df_testdata2[column] = df_testdata2[column].apply(lambda x :  DP.map_bin(x, binning))
    iv[column] = IV

company_group
IV score of default: 0.06777864940094949
['tổ chức công' 'doanh nghiệp lớn']
------------------------------------
['tổ chức ngoài công lập']
------------------------------------
['doanh nghiệp khác']
------------------------------------
edu_level_group
IV score of default: 0.028780636956033008
['cao đẳng']
------------------------------------
['đại học']
------------------------------------
['trung cấp']
------------------------------------
dependence_trans
IV score of default: 0.0096339186321255
['<2 nguoi']
------------------------------------
['>=2 nguoi']
------------------------------------
age
IV score of default: 0.045784318355430696
(-inf, 27.5)
------------------------------------
[27.5, 31.5)
------------------------------------
[31.5, 33.5)
------------------------------------
[33.5, 35.5)
------------------------------------
[35.5, 40.5)
------------------------------------
[40.5, 42.5)
------------------------------------
[42.5, inf)
------------------------------------
income_type
IV score of default: 0.008740142008882044
['khác']
------------------------------------
['tiền mặt']
------------------------------------
['chuyển khoản']
------------------------------------
length_of_residence_year
IV score of default: 0.11686835413635296
(-inf, 1.79)
------------------------------------
[1.79, 3.79)
------------------------------------
[3.79, 4.88)
------------------------------------
[4.88, 8.29)
------------------------------------
[8.29, 11.21)
------------------------------------
[11.21, 17.04)
------------------------------------
[17.04, 35.29)
------------------------------------
[35.29, inf)
------------------------------------
total_income
IV score of default: 0.21845160599561078
(-inf, 18518000.0)
------------------------------------
[18518000.0, 20959300.0)
------------------------------------
[20959300.0, 29125000.0)
------------------------------------
[29125000.0, 31971350.0)
------------------------------------
[31971350.0, 49495000.0)
------------------------------------
[49495000.0, 64653898.0)
------------------------------------
[64653898.0, inf)
------------------------------------
estimated_income
IV score of default: 0.3019369191203848
(-inf, 5354560.25)
------------------------------------
[5354560.25, 6616564.0)
------------------------------------
[6616564.0, 11839322.5)
------------------------------------
[11839322.5, 21693928.0)
------------------------------------
[21693928.0, 31918044.0)
------------------------------------
[31918044.0, 44267036.0)
------------------------------------
[44267036.0, 56971706.0)
------------------------------------
[56971706.0, inf)
------------------------------------
marriage_status
IV score of default: 0.05569261335198372
['có gia đình']
------------------------------------
['khác']
------------------------------------
['độc thân']
------------------------------------
duration
IV score of default: 0.1319763451844841
(-inf, 71.0)
------------------------------------
[71.0, 153.0)
------------------------------------
[153.0, 182.5)
------------------------------------
[182.5, inf)
------------------------------------
job_and_company_type
IV score of default: 0.12425047327003644
['blue_staff_tổ chức công' 'white_staff_tổ chức công'
 'unknown_tổ chức công']
------------------------------------
['white_staff_tổ chức ngoài công lập' 'white_manager_tổ chức công'
 'white_manager_doanh nghiệp lớn' 'unknown_doanh nghiệp khác'
 'white_staff_doanh nghiệp lớn']
------------------------------------
['unknown_tổ chức ngoài công lập' 'blue_staff_tổ chức ngoài công lập']
------------------------------------
['business_tổ chức ngoài công lập']
------------------------------------
['blue_staff_doanh nghiệp khác']
------------------------------------
['white_staff_doanh nghiệp khác']
------------------------------------
['blue_staff_doanh nghiệp lớn' 'white_manager_doanh nghiệp khác'
 'white_manager_tổ chức ngoài công lập' 'business_doanh nghiệp khác']
------------------------------------
income_and_type
IV score of default: 0.22508224529429566
['(-inf, 15666459.00)_khác' '[15666459.00, 24540684.00)_khác'
 '[15666459.00, 24540684.00)_chuyển khoản']
------------------------------------
['[81126068.00, 99142612.00)_khác'
 '[24540684.00, 40222034.00)_chuyển khoản']
------------------------------------
['(-inf, 15666459.00)_tiền mặt']
------------------------------------
['[15666459.00, 24540684.00)_tiền mặt']
------------------------------------
['(-inf, 15666459.00)_chuyển khoản']
------------------------------------
['[40222034.00, 64970464.00)_khác' '[24540684.00, 40222034.00)_tiền mặt'
 '[24540684.00, 40222034.00)_khác' '[112593100.00, inf)_tiền mặt']
------------------------------------
['[40222034.00, 64970464.00)_tiền mặt']
------------------------------------
['[112593100.00, inf)_khác' '[40222034.00, 64970464.00)_chuyển khoản']
------------------------------------
['[112593100.00, inf)_chuyển khoản' '[99142612.00, 112593100.00)_khác'
 '[64970464.00, 81126068.00)_tiền mặt'
 '[81126068.00, 99142612.00)_tiền mặt']
------------------------------------
['[81126068.00, 99142612.00)_chuyển khoản'
 '[99142612.00, 112593100.00)_tiền mặt'
 '[64970464.00, 81126068.00)_chuyển khoản'
 '[64970464.00, 81126068.00)_khác'
 '[99142612.00, 112593100.00)_chuyển khoản']
------------------------------------
home_ownership_status
IV score of default: 0.009786180807568311
['kháckhác']
------------------------------------
['ở chung']
------------------------------------
['sở hữa riêng']
------------------------------------
current_job_group
IV score of default: 0.031790536328203785
['unknown']
------------------------------------
['white_staff']
------------------------------------
['blue_staff']
------------------------------------
['business']
------------------------------------
['white_manager']
------------------------------------
having_labor_contract
IV score of default: 0.0817106654433952
['yes']
------------------------------------
['no']
------------------------------------
loan_amount
IV score of default: 0.3148576025458993
(-inf, 287500000.0)
------------------------------------
[287500000.0, 462500000.0)
------------------------------------
[462500000.0, 716343040.0)
------------------------------------
[716343040.0, 895000000.0)
------------------------------------
[895000000.0, 1455000000.0)
------------------------------------
[1455000000.0, 2067500032.0)
------------------------------------
[2067500032.0, 3110000000.0)
------------------------------------
[3110000000.0, inf)
------------------------------------
time_in_job
IV score of default: 0.11209778834892127
['' 'tu4den5nam' 'tu5']
------------------------------------
['tu3den4nam']
------------------------------------
['duoi1nam']
------------------------------------
['tu1den3nam']
------------------------------------
['unknown']
------------------------------------
time_in_current_job
IV score of default: 0.074872478535496
(-inf, 0.0)
------------------------------------
[0.0, 3.06)
------------------------------------
[3.06, inf)
------------------------------------

In [1769]:
df_testdata.company_group.unique()

array(["['tổ chức ngoài công lập']",
       "['tổ chức công' 'doanh nghiệp lớn']", "['doanh nghiệp khác']"],
      dtype=object)

In [1770]:
for k,v in iv.items():
    if v >0.02:
        print(k,v)

company_group 0.06777864940094949
edu_level_group 0.028780636956033008
age 0.045784318355430696
length_of_residence_year 0.11686835413635296
total_income 0.21845160599561078
estimated_income 0.3019369191203848
marriage_status 0.05569261335198372
duration 0.1319763451844841
job_and_company_type 0.12425047327003644
income_and_type 0.22508224529429566
current_job_group 0.031790536328203785
having_labor_contract 0.0817106654433952
loan_amount 0.3148576025458993
time_in_job 0.11209778834892127
time_in_current_job 0.074872478535496

In [1771]:

columns = ['length_of_residence_year', 'company_group','loan_amount',
           'marriage_status','duration', 'total_income','income_type', 
           'age','time_in_current_job','time_in_job']
columns

['length_of_residence_year',
 'company_group',
 'loan_amount',
 'marriage_status',
 'duration',
 'total_income',
 'income_type',
 'age',
 'time_in_current_job',
 'time_in_job']

In [1772]:
DP.psi_calculation(df_traindata, df_testdata)

<span style="color: #ff0000; font-weight:bold">PSI Table Comparation</span>

company_group: 0.045942759965546795 <span style="color: #0f995c; font-weight:bold"> ✅</span>

edu_level_group: 0.09259638849030054 <span style="color: #0f995c; font-weight:bold"> ✅</span>

dependence_trans: 0.07841658868445883 <span style="color: #0f995c; font-weight:bold"> ✅</span>

age: 0.006380683954635947 <span style="color: #0f995c; font-weight:bold"> ✅</span>

income_type: 0.19529921124631117 <span style="color: #0f995c; font-weight:bold"> ✅</span>

length_of_residence_year: 0.02400589367887155 <span style="color: #0f995c; font-weight:bold"> ✅</span>

total_income: 0.8440407735450922 <span style="color: #ff0000; font-weight:bold"> ❌</span>

estimated_income: 0.7961577702969875 <span style="color: #ff0000; font-weight:bold"> ❌</span>

marriage_status: 0.009325754059923481 <span style="color: #0f995c; font-weight:bold"> ✅</span>

duration: 2.540997093584542 <span style="color: #ff0000; font-weight:bold"> ❌</span>

job_and_company_type: 0.21966890639775552 <span style="color: #ff0000; font-weight:bold"> ❌</span>

income_and_type: 0.5972917004344835 <span style="color: #ff0000; font-weight:bold"> ❌</span>

home_ownership_status: 0.17953548851179657 <span style="color: #0f995c; font-weight:bold"> ✅</span>

current_job_group: 0.20321717316105123 <span style="color: #ff0000; font-weight:bold"> ❌</span>

having_labor_contract: 0.09520918536937123 <span style="color: #0f995c; font-weight:bold"> ✅</span>

loan_amount: 0.46285246982110206 <span style="color: #ff0000; font-weight:bold"> ❌</span>

time_in_job: 0.21471948541110172 <span style="color: #ff0000; font-weight:bold"> ❌</span>

time_in_current_job: 0.02767934298042992 <span style="color: #0f995c; font-weight:bold"> ✅</span>

is_bad: 0.1483802978815381 <span style="color: #0f995c; font-weight:bold"> ✅</span>

In [1773]:
DP.psi_calculation(df_traindata, df_testdata1)

<span style="color: #ff0000; font-weight:bold">PSI Table Comparation</span>

company_group: 0.032018376225088116 <span style="color: #0f995c; font-weight:bold"> ✅</span>

edu_level_group: 0.035787942346993486 <span style="color: #0f995c; font-weight:bold"> ✅</span>

dependence_trans: 3.758830678357562 <span style="color: #ff0000; font-weight:bold"> ❌</span>

age: 0.00794112958012133 <span style="color: #0f995c; font-weight:bold"> ✅</span>

income_type: 0.5783154730043261 <span style="color: #ff0000; font-weight:bold"> ❌</span>

length_of_residence_year: 0.030054310313589603 <span style="color: #0f995c; font-weight:bold"> ✅</span>

total_income: 0.019214252207822 <span style="color: #0f995c; font-weight:bold"> ✅</span>

estimated_income: 0.0206526635437161 <span style="color: #0f995c; font-weight:bold"> ✅</span>

marriage_status: 0.012942784938015778 <span style="color: #0f995c; font-weight:bold"> ✅</span>

duration: 0.17556173712226458 <span style="color: #0f995c; font-weight:bold"> ✅</span>

job_and_company_type: 0.2523006160453028 <span style="color: #ff0000; font-weight:bold"> ❌</span>

income_and_type: 0.5379604950536001 <span style="color: #ff0000; font-weight:bold"> ❌</span>

home_ownership_status: 0.051075531363981005 <span style="color: #0f995c; font-weight:bold"> ✅</span>

current_job_group: 0.2823502064915553 <span style="color: #ff0000; font-weight:bold"> ❌</span>

having_labor_contract: 5.124924880821479 <span style="color: #ff0000; font-weight:bold"> ❌</span>

loan_amount: 0.014214652748207181 <span style="color: #0f995c; font-weight:bold"> ✅</span>

time_in_job: 3.336765834087575 <span style="color: #ff0000; font-weight:bold"> ❌</span>

time_in_current_job: 0.011673598157602499 <span style="color: #0f995c; font-weight:bold"> ✅</span>

is_bad: 1.5744991925409944e-05 <span style="color: #0f995c; font-weight:bold"> ✅</span>

In [1774]:
DP.psi_calculation(df_traindata, df_testdata2)

<span style="color: #ff0000; font-weight:bold">PSI Table Comparation</span>

company_group: 0.05184318667633108 <span style="color: #0f995c; font-weight:bold"> ✅</span>

edu_level_group: 0.0008681786468269846 <span style="color: #0f995c; font-weight:bold"> ✅</span>

dependence_trans: 0.36197708378487126 <span style="color: #ff0000; font-weight:bold"> ❌</span>

age: 0.007506704315443754 <span style="color: #0f995c; font-weight:bold"> ✅</span>

income_type: 0.045526540323076806 <span style="color: #0f995c; font-weight:bold"> ✅</span>

length_of_residence_year: 0.025790509337832623 <span style="color: #0f995c; font-weight:bold"> ✅</span>

total_income: 0.3671478441380194 <span style="color: #ff0000; font-weight:bold"> ❌</span>

estimated_income: 0.33880490429029375 <span style="color: #ff0000; font-weight:bold"> ❌</span>

marriage_status: 0.22119897360916352 <span style="color: #ff0000; font-weight:bold"> ❌</span>

duration: 0.39145319794603717 <span style="color: #ff0000; font-weight:bold"> ❌</span>

job_and_company_type: 0.042290450500918036 <span style="color: #0f995c; font-weight:bold"> ✅</span>

income_and_type: 0.3600396590359164 <span style="color: #ff0000; font-weight:bold"> ❌</span>

home_ownership_status: 0.15715800320914824 <span style="color: #0f995c; font-weight:bold"> ✅</span>

current_job_group: 0.03943333823021432 <span style="color: #0f995c; font-weight:bold"> ✅</span>

having_labor_contract: 0.8995740218569606 <span style="color: #ff0000; font-weight:bold"> ❌</span>

loan_amount: 0.2959176008578673 <span style="color: #ff0000; font-weight:bold"> ❌</span>

time_in_job: 0.8995740218569606 <span style="color: #ff0000; font-weight:bold"> ❌</span>

time_in_current_job: 0.011673598157602499 <span style="color: #0f995c; font-weight:bold"> ✅</span>

is_bad: 0.010280444554084597 <span style="color: #0f995c; font-weight:bold"> ✅</span>

In [1775]:
calc.do_score_calculate(df_traindata, var_columns=columns, target='is_bad')

{'length_of_residence_year':   length_of_residence_year  count     score     t_score
 0             (-inf, 1.79)    726  1.981001  -29.719756
 1             [1.79, 3.79)    603  2.298942   12.200814
 2           [11.21, 17.04)    414  2.155002   -6.777740
 3           [17.04, 35.29)    516  1.819158  -51.058809
 4             [3.79, 4.88)    281  3.299534  144.129128
 5             [35.29, inf)    214  1.632038  -75.730731
 6             [4.88, 8.29)    699  2.402586   25.866353
 7            [8.29, 11.21)    400  2.225316    2.493231,
 'company_group':                          company_group  count     score     t_score
 0                ['doanh nghiệp khác']   2327  2.026399  -26.902670
 1  ['tổ chức công' 'doanh nghiệp lớn']    437  2.986163  134.735059
 2           ['tổ chức ngoài công lập']   1089  2.206441    3.419001,
 'loan_amount':                     loan_amount  count     score     t_score
 0           (-inf, 287500000.0)    498  2.983153   69.621168
 1  [1455000000.0, 2067500032.0)    448  2.143814  -12.045402
 2  [2067500032.0, 3110000000.0)    323  1.519287  -72.811001
 3    [287500000.0, 462500000.0)    725  2.480432   20.707109
 4           [3110000000.0, inf)    322  1.009485 -122.414049
 5    [462500000.0, 716343040.0)    701  2.463466   19.056337
 6    [716343040.0, 895000000.0)    229  2.402669   13.140799
 7   [895000000.0, 1455000000.0)    607  2.306215    3.755991,
 'marriage_status':    marriage_status  count     score    t_score
 0  ['có gia đình']   2612  2.323397  32.433377
 1         ['khác']    531  2.023468 -33.848801
 2     ['độc thân']    710  1.751268 -94.003192,
 'duration':          duration  count     score     t_score
 0    (-inf, 71.0)    329  3.113515  109.039192
 1  [153.0, 182.5)   1890  1.923127  -35.405636
 2    [182.5, inf)    361  3.007428   96.166314
 3   [71.0, 153.0)   1273  2.191130   -2.885531,
 'total_income':                total_income  count     score     t_score
 0        (-inf, 18518000.0)   1195  2.426535   20.801124
 1  [18518000.0, 20959300.0)    206  3.208825  107.280660
 2  [20959300.0, 29125000.0)    608  2.575626   37.282613
 3  [29125000.0, 31971350.0)    355  2.311916    8.130477
 4  [31971350.0, 49495000.0)    666  2.157811   -8.905385
 5  [49495000.0, 64653898.0)    316  1.769781  -51.800759
 6         [64653898.0, inf)    507  1.342492  -99.036055,
 'income_type':         income_type  count     score    t_score
 0  ['chuyển khoản']   1228  2.026491 -71.592308
 1          ['khác']    428  2.272126  61.161121
 2      ['tiền mặt']   2197  2.210955  28.101227,
 'age':             age  count     score     t_score
 0  (-inf, 27.5)    404  2.101914  -16.517073
 1  [27.5, 31.5)    536  2.274186   22.932966
 2  [31.5, 33.5)    344  2.635947  105.776153
 3  [33.5, 35.5)    357  2.388763   49.171092
 4  [35.5, 40.5)    810  2.239072   14.891891
 5  [40.5, 42.5)    251  2.158004   -3.672608
 6   [42.5, inf)   1151  1.905807  -61.425592,
 'time_in_current_job':   time_in_current_job  count     score     t_score
 0         [0.0, 3.06)   3448  2.088610  -17.133951
 1         [3.06, inf)    405  2.957511  145.871267,
 'time_in_job':                time_in_job  count     score    t_score
 0  ['' 'tu4den5nam' 'tu5']    791  2.695978  73.164683
 1             ['duoi1nam']    384  2.397895  29.149614
 2           ['tu1den3nam']   1338  2.179087  -3.159751
 3           ['tu3den4nam']    244  2.415914  31.810240
 4              ['unknown']   1096  1.751880 -66.241485}

In [1817]:
df_result = calc.result()
x_train = df_result[columns]
y_train = df_result['is_bad']
LRModel = LogisticRegression(solver='lbfgs',max_iter=50000, tol=0.00000001, C=1.0, (class_weight='balanced',penalty='l2',fit_intercept=True)
LRModel.fit(x_train, y_train)

LogisticRegression(class_weight='balanced', max_iter=50000, tol=1e-08)

In [1818]:
y_pred_train = LRModel.predict(x_train)
acc_train = classification_report(y_pred_train, y_train)

In [1819]:
confusion_matrix(y_pred_train, y_train)

array([[2288,  133],
       [1165,  267]])

# RandomForest

In [1906]:
f1_scorer = make_scorer(f1_score)

In [1917]:
rf = RandomForestClassifier(random_state=42)

In [1918]:
param_grid = { 
    'n_estimators': list(range(10,100,20)),5
    'max_features': ['sqrt', 'log2',None],
    'max_depth' : list(range(20,100,20)),4
    'criterion' :['gini', 'entropy'],2
    'class_weight':['balanced','balanced_subsample'],2
    'min_samples_split': [5,10, 15, 20],4
    'min_samples_leaf': [1, 3, 5,7],4
}

In [ ]:
5*4*2*2*4*4

In [ ]:
%%time
CV_rfc = GridSearchCV(estimator=rf, param_grid=param_grid, cv= 5,n_jobs=-1)
CV_rfc.fit(x_train, y_train)

In [1920]:
best_params = CV_rfc.best_params_
best_params

AttributeError: 'GridSearchCV' object has no attribute 'best_params_'

In [1911]:
%%time
rf = RandomForestClassifier(random_state=42, n_jobs=-1, **best_params)
rf.fit(x_train, y_train)
y_pred_train = rf.predict(x_train)
acc_train = classification_report(y_pred_train, y_train)
print(acc_train)
print(confusion_matrix(y_pred_train, y_train))

              precision    recall  f1-score   support

       False       0.91      0.97      0.94      3219
        True       0.77      0.48      0.59       634

    accuracy                           0.89      3853
   macro avg       0.84      0.73      0.77      3853
weighted avg       0.88      0.89      0.88      3853

[[3126   93]
 [ 327  307]]
CPU times: user 127 ms, sys: 0 ns, total: 127 ms
Wall time: 125 ms

In [1832]:
y_pred_train = rf.predict_proba(x_train)

In [1843]:
y_pred_train[:,0]*1000

array([ 960., 1000.,  950., ...,  960.,  920.,  990.])

In [1779]:
coef = LRModel.coef_
sum_coef = sum(coef[0])
coef_dict = dict(zip(columns, [e/sum_coef for e in coef[0]]))

In [1780]:
LRModel.intercept_

array([-0.2997173])

In [1781]:
LRModel.coef_

array([[-0.00699035, -0.00351741, -0.00755538, -0.00275684, -0.0057224 ,
        -0.0033197 ,  0.00238691, -0.00532881, -0.00147019, -0.00625706]])

In [1782]:
result = calc.do_score_calculate(df_traindata, var_columns=columns, target='is_bad', calculate_standardized_score=True, beta_var_percentage = coef_dict)

24.85769331217358
36.55036352011476
49.52836946643834
51.73441124039182
67.12909430054597
75.91587731718909
72.31406289807117
86.22090218222873
91.51209715840935
102.80699478332917

# Results

In [1783]:
for i in result.keys():
    print(i)
    display(result[i])

length_of_residence_year

  length_of_residence_year  count     score     t_score     n_score
0             (-inf, 1.79)    726  1.981001  -29.719756   42.032745
1             [1.79, 3.79)    603  2.298942   12.200814   83.291806
2           [11.21, 17.04)    414  2.155002   -6.777740   64.612735
3           [17.04, 35.29)    516  1.819158  -51.058809   21.030424
4             [3.79, 4.88)    281  3.299534  144.129128  213.138281
5             [35.29, inf)    214  1.632038  -75.730731   -3.252172
6             [4.88, 8.29)    699  2.402586   25.866353   96.741701
7            [8.29, 11.21)    400  2.225316    2.493231   73.737409

company_group

,company_group,count,score,t_score,n_score
0,['doanh nghiệp khác'],2327,2.026399,-26.902670,22.545204
1,['tổ chức công' 'doanh nghiệp lớn'],437,2.986163,134.735059,102.594756
2,['tổ chức ngoài công lập'],1089,2.206441,3.419001,37.561724

loan_amount

                    loan_amount  count     score     t_score     n_score
0           (-inf, 287500000.0)    498  2.983153   69.621168  151.106659
1  [1455000000.0, 2067500032.0)    448  2.143814  -12.045402   64.231809
2  [2067500032.0, 3110000000.0)    323  1.519287  -72.811001   -0.409112
3    [287500000.0, 462500000.0)    725  2.480432   20.707109   99.073110
4           [3110000000.0, inf)    322  1.009485 -122.414049  -53.175591
5    [462500000.0, 716343040.0)    701  2.463466   19.056337   97.317059
6    [716343040.0, 895000000.0)    229  2.402669   13.140799   91.024259
7   [895000000.0, 1455000000.0)    607  2.306215    3.755991   81.040935

marriage_status

   marriage_status  count     score    t_score    n_score
0  ['có gia đình']   2612  2.323397  32.433377  40.701803
1         ['khác']    531  2.023468 -33.848801  14.974076
2     ['độc thân']    710  1.751268 -94.003192  -8.375123

duration

         duration  count     score     t_score     n_score
0    (-inf, 71.0)    329  3.113515  109.039192  146.206117
1  [153.0, 182.5)   1890  1.923127  -35.405636   29.827495
2    [182.5, inf)    361  3.007428   96.166314  135.834491
3   [71.0, 153.0)   1273  2.191130   -2.885531   56.028814

total_income

               total_income  count     score     t_score    n_score
0        (-inf, 18518000.0)   1195  2.426535   20.801124  43.574837
1  [18518000.0, 20959300.0)    206  3.208825  107.280660  83.995637
2  [20959300.0, 29125000.0)    608  2.575626   37.282613  51.278336
3  [29125000.0, 31971350.0)    355  2.311916    8.130477  37.652538
4  [31971350.0, 49495000.0)    666  2.157811   -8.905385  29.689924
5  [49495000.0, 64653898.0)    316  1.769781  -51.800759   9.640495
6         [64653898.0, inf)    507  1.342492  -99.036055 -12.437427

income_type

        income_type  count     score    t_score    n_score
0  ['chuyển khoản']   1228  2.026491 -71.592308  -0.280318
1          ['khác']    428  2.272126  61.161121 -44.894685
2      ['tiền mặt']   2197  2.210955  28.101227 -33.784266

age

            age  count     score     t_score     n_score
0  (-inf, 27.5)    404  2.101914  -16.517073   41.947699
1  [27.5, 31.5)    536  2.274186   22.932966   71.546300
2  [31.5, 33.5)    344  2.635947  105.776153  133.701941
3  [33.5, 35.5)    357  2.388763   49.171092   91.232258
4  [35.5, 40.5)    810  2.239072   14.891891   65.513237
5  [40.5, 42.5)    251  2.158004   -3.672608   51.584653
6   [42.5, inf)   1151  1.905807  -61.425592    8.253706

time_in_current_job

  time_in_current_job  count     score     t_score    n_score
0         [0.0, 3.06)   3448  2.088610  -17.133951  11.445455
1         [3.06, inf)    405  2.957511  145.871267  45.187282

time_in_job

               time_in_job  count     score    t_score     n_score
0  ['' 'tu4den5nam' 'tu5']    791  2.695978  73.164683  128.262208
1             ['duoi1nam']    384  2.397895  29.149614   89.486005
2           ['tu1den3nam']   1338  2.179087  -3.159751   61.022243
3           ['tu3den4nam']    244  2.415914  31.810240   91.829952
4              ['unknown']   1096  1.751880 -66.241485    5.448773

In [1784]:
df_testdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1792 entries, 10 to 8855
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company_group             1792 non-null   object
 1   edu_level_group           1792 non-null   object
 2   dependence_trans          1792 non-null   object
 3   age                       1792 non-null   object
 4   income_type               1792 non-null   object
 5   length_of_residence_year  1792 non-null   object
 6   total_income              1792 non-null   object
 7   estimated_income          1792 non-null   object
 8   marriage_status           1792 non-null   object
 9   duration                  1792 non-null   object
 10  job_and_company_type      1792 non-null   object
 11  income_and_type           1792 non-null   object
 12  home_ownership_status     1792 non-null   object
 13  current_job_group         1792 non-null   object
 14  having_labor_contract     1792 non-null   object
 15  loan_amount               1792 non-null   object
 16  time_in_job               1792 non-null   object
 17  time_in_current_job       1792 non-null   object
 18  is_bad                    1792 non-null   bool
dtypes: bool(1), object(18)
memory usage: 267.8+ KB

In [1808]:
df_check= df_testdata2.copy()
for col in columns:
   
    try:
        df_check[col] = df_check[col].apply(lambda x: result[col][result[col][col] == x].n_score.values[0])
    except:
        print(result[col][col])
        print(col)

In [1809]:
df_check['score'] = df_check[columns].sum(axis = 1)

In [1810]:
col = ['length_of_residence_year',
 'company_group',
 'loan_amount',
 'marriage_status',
 'duration',
 'income_type',
 'total_income',
 'age',
 'current_job_group',
 'time_in_current_job',
 'score',
 'is_bad']

In [1811]:
df_check[col]

,length_of_residence_year,company_group,loan_amount,marriage_status,duration,income_type,total_income,age,current_job_group,time_in_current_job,score,is_bad
6,42.032745,37.561724,-0.409112,40.701803,29.827495,-0.280318,-12.437427,91.232258,['unknown'],11.445455,245.123396,False
7,21.030424,22.545204,151.106659,14.974076,146.206117,-0.280318,43.574837,71.546300,['white_staff'],11.445455,487.597527,False
16,96.741701,22.545204,99.073110,40.701803,146.206117,-33.784266,43.574837,8.253706,['white_staff'],11.445455,440.206439,False
21,-3.252172,37.561724,151.106659,40.701803,29.827495,-44.894685,43.574837,8.253706,['unknown'],11.445455,279.773594,False
22,96.741701,22.545204,64.231809,40.701803,29.827495,-33.784266,43.574837,71.546300,['unknown'],11.445455,352.279112,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8645,83.291806,102.594756,99.073110,40.701803,29.827495,-33.784266,29.689924,65.513237,['white_staff'],11.445455,433.802092,False
8646,96.741701,102.594756,99.073110,40.701803,29.827495,-0.280318,43.574837,91.232258,['white_manager'],11.445455,520.359870,False
8647,21.030424,102.594756,99.073110,40.701803,29.827495,-0.280318,43.574837,65.513237,['white_manager'],11.445455,418.929572,False
8648,83.291806,102.594756,81.040935,40.701803,29.827495,-0.280318,43.574837,71.546300,['white_staff'],11.445455,469.191842,False
8649,21.030424,102.594756,99.073110,40.701803,146.206117,-0.280318,9.640495,8.253706,['white_manager'],11.445455,444.114320,False

In [1812]:
df_check[col].to_sql(name='score_2016_2018', con=engine, schema='public', if_exists='replace')

640

In [1790]:
df_check[df_check.is_bad==True].count()

company_group               35
edu_level_group             35
dependence_trans            35
age                         35
income_type                 35
length_of_residence_year    35
total_income                35
estimated_income            35
marriage_status             35
duration                    35
job_and_company_type        35
income_and_type             35
home_ownership_status       35
current_job_group           35
having_labor_contract       35
loan_amount                 35
time_in_job                 35
time_in_current_job         35
is_bad                      35
score                       35
dtype: int64

In [1791]:
df_check[columns].describe()

,length_of_residence_year,company_group,loan_amount,marriage_status,duration,total_income,income_type,age,time_in_current_job,time_in_job
count,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000,1792.000000
mean,69.316196,37.607484,39.429677,26.600296,115.598152,12.382134,-30.722683,55.465741,16.887077,92.532816
std,48.049864,24.692374,63.516063,20.461788,36.653095,27.164362,14.645016,36.300955,12.413099,27.301394
min,-3.252172,22.545204,-53.175591,-8.375123,29.827495,-12.437427,-44.894685,8.253706,11.445455,61.022243
25%,42.032745,22.545204,-0.409112,14.974076,135.834491,-12.437427,-33.784266,8.253706,11.445455,61.022243
50%,73.737409,22.545204,64.231809,40.701803,135.834491,9.640495,-33.784266,65.513237,11.445455,89.486005
75%,83.291806,37.561724,97.317059,40.701803,135.834491,29.689924,-33.784266,71.546300,11.445455,128.262208
max,213.138281,102.594756,151.106659,40.701803,146.206117,83.995637,-0.280318,133.701941,45.187282,128.262208

In [1792]:
df_check[(df_check.score>300)&(df_check.score<500)].count()

company_group               1017
edu_level_group             1017
dependence_trans            1017
age                         1017
income_type                 1017
length_of_residence_year    1017
total_income                1017
estimated_income            1017
marriage_status             1017
duration                    1017
job_and_company_type        1017
income_and_type             1017
home_ownership_status       1017
current_job_group           1017
having_labor_contract       1017
loan_amount                 1017
time_in_job                 1017
time_in_current_job         1017
is_bad                      1017
score                       1017
dtype: int64

In [1674]:
df_check[(df_check.score>400)&(df_check.score<1000)& (df_check.is_bad == True)].count()/df_check[(df_check.score>400)&(df_check.score<1000)].count()

company_group               0.012821
edu_level_group             0.012821
dependence_trans            0.012821
age                         0.012821
income_type                 0.012821
length_of_residence_year    0.012821
total_income                0.012821
estimated_income            0.012821
marriage_status             0.012821
duration                    0.012821
job_and_company_type        0.012821
income_and_type             0.012821
home_ownership_status       0.012821
current_job_group           0.012821
having_labor_contract       0.012821
loan_amount                 0.012821
time_in_job                 0.012821
time_in_current_job         0.012821
is_bad                      0.012821
score                       0.012821
dtype: float64

In [1675]:
df_check[(df_check.score>400)&(df_check.score<1000)].count()

company_group               1092
edu_level_group             1092
dependence_trans            1092
age                         1092
income_type                 1092
length_of_residence_year    1092
total_income                1092
estimated_income            1092
marriage_status             1092
duration                    1092
job_and_company_type        1092
income_and_type             1092
home_ownership_status       1092
current_job_group           1092
having_labor_contract       1092
loan_amount                 1092
time_in_job                 1092
time_in_current_job         1092
is_bad                      1092
score                       1092
dtype: int64

In [1676]:
df_check[(df_check.score<400)&(df_check.score>300)]['is_bad'].count()

455

In [1677]:
df_check[(df_check.score < 400)&(df_check.score>300)& (df_check.is_bad == True)]['is_bad'].count()

10

In [1678]:
df_check[(df_check.score < 400)&(df_check.score>300)& (df_check.is_bad == True)]['is_bad'].count()/df_check[(df_check.score<400)&(df_check.score>300)]['is_bad'].count()

0.02197802197802198

In [1485]:
df_check[(df_check.score < 300)& (df_check.is_bad == True)]['is_bad'].count()/df_check[(df_check.score < 300)]['is_bad'].count()

0.03668763102725367

In [1486]:
df_check[(df_check.score < 400)& (df_check.is_bad == True)]['is_bad'].count()/df_check[(df_check.score < 400)]['is_bad'].count()

0.03291139240506329

In [1490]:
df_check[(df_check.score < 1000)& (df_check.is_bad == True)]['is_bad'].count()/df_check[(df_check.score < 1000)]['is_bad'].count()

0.023067583974099554

# Under_sample 80/20

In [ ]:
def under_sample(df, rate=0.9, target = 'target'):
    id_pos = np.where(df[target].values.reshape(-1) == 1)[0]
    id_neg = np.where(df[target].values.reshape(-1) == 0)[0]
    np.random.shuffle(id_pos)
    np.random.shuffle(id_neg)
    len_neg = int(len(id_pos)*rate/(1-rate))
    id_train_neg = id_neg[:len_neg]
    id_train = np.concatenate((id_train_neg, id_pos), axis = 0)
    data_train = df.iloc[id_train]
    return data_train

In [ ]:
train_data = pd.concat([train_2020, train_2021, train_2022])
train_data['is_bad'] = train_data['is_bad'].map({'f':0,'t':1})
train_data.head()

In [ ]:
train_data_82 = under_sample(train_data, rate=0.7, target='is_bad')

In [ ]:
train_data_82['is_bad'].hist()

In [ ]:
train_copy_82 = train_data_82[features].copy()

In [ ]:
train_copy_82.head()

In [ ]:
calc = CalculateScore()
calc.do_score_calculate(train_data_82, var_columns=features[:7], target='is_bad')

In [ ]:
df_train_82 = calc.result()

In [ ]:
df_train_82.head()

In [ ]:
LRModel = LogisticRegression(solver = 'lbfgs', max_iter=1000, fit_intercept=True, tol=0.0001, C=1, penalty='l2',class_weight = 'balanced')
LRModel.fit(df_train_82[features[:7]], df_train_82['is_bad'])
y_pred = LRModel.predict(df_train_82[features[:7]])
print(classification_report(list(df_train_82['is_bad']), list(y_pred)))
print(confusion_matrix(list(df_train_82['is_bad']), list(y_pred)))

In [ ]:
coef_list82 = LRModel.coef_
coef_dict82 = dict(zip(['dti_gross_group', 'company_type_group', 'labor_contract_group', 'dependence_group', 'duration_group', 'marriage_status_group', 'ltv_group'], coef_list[0]))
coef_dict82

In [ ]:
calc
result82 = calc.do_score_calculate(train_copy_82, var_columns=features[:7], target='is_bad', calculate_standardized_score = True, beta_var_percentage = coef_dict82)

In [ ]:
for i in result82.keys():
    print(i)
    display(result82[i])

In [ ]:
train_copy_82[train_copy_82['is_bad']==1]['labor_contract_group'].hist()

# Oversample

In [ ]:
train_data.head()

In [ ]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state = 14)
over_data= smote.fit_resample(train_data)